@model ApplicationCore.Models.MovieDetailsModel

@*<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h>Display detail</h>
</div>
</body>
</html>*@

<h1>
    @Model.Title
</h1>