@model ApplicationCore.Models.PagedResultSet<ApplicationCore.Models.MovieCardModel>


<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movieCard in Model?.Data)
            {
                <div class="col-6 col-lg-3 col-sm-4 col-xl-2">
                    <partial name = "_MovieCard" model="movieCard" />
                </div>
            }
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextpage ? "disabled" : "";
}

<a asp-action= "GenreMovies" asp-route-page="@(Model.PageIndex-1)" class = "btn btn-primary @prevDisabled"> Previous  </a>
<a asp-action= "GenreMovies" asp-route-page="@(Model.PageIndex+1)" class = "btn btn-primary @nextDisabled"> Next </a>
